In [1]:
import pandas as pd
import os
os.chdir(r'C:\Users\HP\Documents\tesis\Resultados_Python')
Datos =  pd.read_excel('Fiscales_Actual.xlsx', sheet_name= 'Sheet1')
Datos1 = Datos[Datos.PROVINCIA == 'EL ORO']
(Datos1 
  .groupby('CANTÓN')
  .agg(frequency=('CANTÓN', "count")))

            frequency
CANTÓN
ARENILLAS           2
BALSAS              1
EL GUABO            1
HUAQUILLAS          5
MACHALA            28
PASAJE              4
PINAS               1
PORTOVELO           1
SANTA ROSA          2
ZARUMA              1