In [2]:
import pandas as pd
import os
os.chdir(r'C:\Users\HP\Documents\tesis\Resultados_Python')
Datos =  pd.read_excel('Fiscales_Actual.xlsx', sheet_name= 'Sheet1')
Datos1 = Datos[Datos.PROVINCIA == 'LOJA']
(Datos1 
  .groupby('CANTÓN')
  .agg(frequency=('CANTÓN', "count")))

           frequency
CANTÓN
CALVAS             1
CATAMAYO           2
CELICA             1
GONZANAMA          1
LOJA              16
MACARA             1
PALTAS             1
SARAGURO           1