In [13]:
import pandas as pd
import os
os.chdir(r'C:\Users\HP\Documents\tesis\Resultados_Python')
Datos =  pd.read_excel('Fiscales_Actual.xlsx', sheet_name= 'Sheet1')
Datos1 = Datos[Datos.PROVINCIA == 'AZUAY']
(Datos1 
  .groupby('CANTÓN')
  .agg(frequency=('CANTÓN', "count")))

              frequency
CANTÓN
CUENCA               38
GIRON                 1
GUALACEO              2
NABON                 1
PAUTE                 1
SANTA ISABEL          1
SIGSIG                1