In [3]:
import pandas as pd
import os
os.chdir(r'C:\Users\HP\Documents\tesis\Resultados_Python')
Datos =  pd.read_excel('Fiscales_Actual.xlsx', sheet_name= 'Sheet1')
Datos1 = Datos[Datos.PROVINCIA == 'ZAMORA CHINCHIPE']
(Datos1 
  .groupby('CANTÓN')
  .agg(frequency=('CANTÓN', "count")))

                      frequency
CANTÓN
CENTINELA DEL CONDOR          1
EL PANGUI                     1
PALANDA                       1
YANTZAZA                      3
ZAMORA                        6